@model DotNetWebApp.ViewModels.Todo.DetailViewModel
@{
    ViewData["Title"] = "Todo Detail Page";
}

<div class="text-center">
    <h1 class="display-4">Todo Detail</h1>

    <div class="container well">
        <p>DetailID: @Model.DetailID</p>
        <p>DetailParam: @Model.DetailParam</p>
    </div>
</div>

