@model DotNetWebApp.ViewModels.Todo.IndexViewModel
@{
    ViewData["Title"] = "Todo Page";
}

<div class="text-center">
    <h1 class="display-4">Todo</h1>

    <div class="container well">
        <form asp-controller="Todo" asp-action="Index" method="post">
            <div class="form-group">
                <input asp-for="Name" type="text" class="form-control input-lg">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success btn-block btn-lg">追加</button>
        </form>
    </div>
</div>

