@using DotNetWebApp.ViewComponents.Sample
@model DotNetWebApp.ViewModels.Todo.IndexViewModel
@{
    ViewData["Title"] = "Todo Page";
}

<div class="text-center">
    <h1 class="display-4">Todo</h1>

    <div class="container well">
        <form asp-controller="Todo" asp-action="Index" method="post">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" type="text" class="form-control input-lg">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meta" class="control-label"></label>
                <select asp-for="Meta" class="form-control">
                    <option value=""></option>
                    @foreach (var meta in Meta.List)
                    {
                        <option value="@meta.Key">@meta.Value</option>
                    }
                    <option value="77">77</option>
                    <option value="other">other</option>
                </select>
                <span asp-validation-for="Meta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" type="text" class="form-control input-lg">
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTimeNow" class="control-label"></label>
                <input asp-for="DateTimeNow" type="text" class="form-control input-lg">
                <span asp-validation-for="DateTimeNow" class="text-danger"></span>
            </div>
            <!-- TODO: ラジオ -->
            <!-- TODO: チェックボックス -->
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block btn-lg">追加</button>
            </div>
        </form>

        <p>
            <a asp-controller="Todo" asp-action="Detail" asp-route-detailID="123" asp-route-detailParam="query">/todo/detail/123?detailParam=query</a>
        </p>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">
            Launch demo modal
        </button>

        @await Component.InvokeAsync(typeof(SampleViewComponent), new SampleViewComponentParam { Text = "ViewComponent!" })
    </div>
</div>

@section Modal {
    <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        これはモーダルです
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
    </div>
}

