@using DotNetWebApp.ViewComponents.Sample
@model DotNetWebApp.ViewModels.Todo.IndexViewModel
@{
    ViewData["Title"] = "Todo Page";
}

<div class="text-center">
    <h1 class="display-4">Todo</h1>

    <div class="container well">
        <form asp-controller="Todo" asp-action="Index" method="post">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" type="text" class="form-control input-lg">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meta" class="control-label"></label>
                <select asp-for="Meta" class="form-control">
                    <option value=""></option>
                    @foreach (var meta in Meta.List)
                    {
                        <option value="@meta.Key">@meta.Value</option>
                    }
                    <option value="77">77</option>
                    <option value="other">other</option>
                </select>
                <span asp-validation-for="Meta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" type="text" class="form-control input-lg">
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTimeNow" class="control-label"></label>
                <input asp-for="DateTimeNow" type="text" class="form-control input-lg">
                <span asp-validation-for="DateTimeNow" class="text-danger"></span>
            </div>
            <!-- TODO: ラジオ -->
            <!-- TODO: チェックボックス -->
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block btn-lg">追加</button>
            </div>
        </form>

        <p><a asp-controller="Todo" asp-action="Detail" asp-route-detailID="123" asp-route-detailParam="query">/todo/detail/123?detailParam=query</a></p>

        @await Component.InvokeAsync(typeof(SampleViewComponent), new SampleViewComponentParam { Text = "ViewComponent!" }) 
    </div>
</div>

